# compilation and distribution
__pycache__
*.pyc
*.egg-info/

*.mp4

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

/octo/
/datasets/
/Maniskill/mp_collect/
/openvla/checkpoints/
/openvla/wandb/
/SimplerEnv/octo_collect/
/SimplerEnv/wandb/

/wandb/
runs/
README_7D_Unified_System.md
README_Absolute_Position_Update.md
README_Image_Format_Fix.md
README_PPO_Training.md
README_Quaternion_To_Euler.md

analysis_results/